// Override Bootstrap variables in this file, e.g.

$font-size-base: .8rem;
$shadow-2: 0 0 2px rgba(50, 50, 50, .7);
$fa-font-path: '/fonts/font-awesome';
$border-radius: .175rem;
$border-radius-lg: $border-radius;

$theme-colors: (
  "brand": rgb(73, 144, 226)
);
